<% page = Nokogiri::HTML(open('https://graph.facebook.com/me/friends?access_token=' + session[:access_token] + '&fields=installed,name,picture'))
		page = page.to_s.scan(/\{.+\}\}/) %>

<% j = ActiveSupport::JSON %>
    <% json = j.decode(page[0]) %>
    <table class="table table-nostyle" id="invite_table" >
    <% json['data'].each do |j| %>
    <% if j.length > 3 && (not @uids.include?(j["id"])) %>
    <tr>
        <td colspan="2"><%= link_to image_tag(j['picture']), "http://www.facebook.com/#{j["id"]}" %></td><td><%= j['name'] %></td>
        <td><a class="btn inviteButton" data-complete-text="Inbjudan skickad" data-uid="<%= j["id"] %>" data-loading-text = "..."  data-leagueid="<%= params[:id] %>" > Skicka inbjudan</a> </td>
    </tr>
    <% end %>
    <% end %>
	</table>