<h1><%= @league.name %></h1>

<%= 
	if current_user

		if @member 
			link_to "Gå Ur", :controller => :leagues, :action => :leave 
		else
			link_to "Gå Med", :controller => :leagues, :action => :join
		end
	end
%>