	<% unless params[:def] && params[:mid] && params[:for]%>
		<% params[:def] = '4'; %>
		<% params[:mid] = '4'; %>
		<% params[:for] = '2'; %>
	<% end %>
		<div id="goalie">
			<div class="player gk_0">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		
		<div id="defense">
			<% params[:def].to_i.times do |i|  %>
				<div class="player df_<%=i %>" >
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div id="midfield">
			<% params[:mid].to_i.times do |i|  %>
				<div class="player mf_<%=i %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div id="forwards">
			<% params[:for].to_i.times do |i|  %>
				<div class="player fw_<%=i %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>