<div id="pitch">
		<div class="goalie">
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		<div class="defense">
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		<div class="midfield">
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		<div class="forwards">
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
	</div>