<div id="pitch">
		<div class="goalie">
			<div class="player">
		</div>
		</div>
		<div class="defense">
			<div class="player"></div>
			<div class="player"></div>
			<div class="player"></div>
			<div class="player"></div>
		</div>
		<div class="midfield">
			<div class="player"></div>
			<div class="player"></div>
			<div class="player"></div>
			<div class="player"></div>
		</div>
		<div class="forwards">
			<div class="player"></div>
			<div class="player"></div>
		</div>
	</div>