		<div id="goalie">
			<div class="player player_0">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		
		<div id="defense">
			<% 4.times do |i|  %>
				<div class="player player_<%=i+1 %>" >
					<div class="kit" rel="popover" data-content="testingg....." title="A title"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div id="midfield">
			<% 4.times do |i|  %>
				<div class="player player_<%=i+5 %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div id="forwards">
			<% 	2.times do |i|  %>
				<div class="player player_<%=i+9 %>">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>