<div id="pitch">
	<% if params[:def] && params[:mid] && params[:for] != nil%>
		<div class="goalie">
			<div class="player">
				<div class="kit"></div>
				<div class="player_name"></div>
			</div>
		</div>
		
		<div class="defense">
			<% params[:def].to_i.times do |i|  %>
				<div class="player">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div class="midfield">
			<% params[:mid].to_i.times do |i|  %>
				<div class="player">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		
		<div class="forwards">
			<% params[:for].to_i.times do |i|  %>
				<div class="player">
					<div class="kit"></div>
					<div class="player_name"></div>
				</div>
			<% end %>
		</div>
		<% end %>
	</div>