<h1>Players</h1>

<%= form_tag players_path, :method => 'get', :id => "players_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

 	<div class="btn-group">
  		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Action
    	<span class="caret"></span>
  		</a>
  		<ul class="dropdown-menu">
	    	<li><a href="?round=1">Runda 1</a></li>
	  	</ul>
	</div>

  <div id="players"><%= render 'players' %></div>
<% end %>



