<record>
	<!-- resource manager options -->

	<!-- dont preload anything in this folder -->
	<boolean id="preload" value="false"/>

	<!-- logo mappings -->
	<!-- the following XML maps pictures inside this folder into other positions
		 in the resource system, which allows this folder to be dropped into any
		 place in the graphics folder and still have the game pick up the graphics
		 files from the correct places
	-->
	
	<list id="maps">

		<record from="albania home" to="graphics/pictures/team/752/kits/home"/>
		<record from="albania away" to="graphics/pictures/team/752/kits/away"/>

		<record from="andorra home" to="graphics/pictures/team/753/kits/home"/>
		<record from="andorra away" to="graphics/pictures/team/753/kits/away"/>

		<record from="armenia home" to="graphics/pictures/team/754/kits/home"/>
		<record from="armenia away" to="graphics/pictures/team/754/kits/away"/>
		<record from="armenia third" to="graphics/pictures/team/754/kits/third"/>

		<record from="austria home" to="graphics/pictures/team/755/kits/home"/>
		<record from="austria away" to="graphics/pictures/team/755/kits/away"/>
		
		<record from="azerbaijan home" to="graphics/pictures/team/756/kits/home"/>
		<record from="azerbaijan away" to="graphics/pictures/team/756/kits/away"/>

		<record from="belgium home" to="graphics/pictures/team/757/kits/home"/>
		<record from="belgium away" to="graphics/pictures/team/757/kits/away"/>

		<record from="belarus home" to="graphics/pictures/team/758/kits/home"/>
		<record from="belarus away" to="graphics/pictures/team/758/kits/away"/>

		<record from="bosnia home" to="graphics/pictures/team/759/kits/home"/>
		<record from="bosnia away" to="graphics/pictures/team/759/kits/away"/>

		<record from="bulgaria home" to="graphics/pictures/team/760/kits/home"/>
		<record from="bulgaria away" to="graphics/pictures/team/760/kits/away"/>

		<record from="croatia home" to="graphics/pictures/team/761/kits/home"/>
		<record from="croatia away" to="graphics/pictures/team/761/kits/away"/>

		<record from="cyprus home" to="graphics/pictures/team/762/kits/home"/>
		<record from="cyprus away" to="graphics/pictures/team/762/kits/away"/>

		<record from="czech home" to="graphics/pictures/team/763/kits/home"/>
		<record from="czech away" to="graphics/pictures/team/763/kits/away"/>

		<record from="denmark home" to="graphics/pictures/team/764/kits/home"/>
		<record from="denmark away" to="graphics/pictures/team/764/kits/away"/>
		<record from="denmark third" to="graphics/pictures/team/764/kits/third"/>

		<record from="england home" to="graphics/pictures/team/765/kits/home"/>
		<record from="england away" to="graphics/pictures/team/765/kits/away"/>

		<record from="estonia home" to="graphics/pictures/team/766/kits/home"/>
		<record from="estonia away" to="graphics/pictures/team/766/kits/away"/>

		<record from="faroeislands home" to="graphics/pictures/team/767/kits/home"/>
		<record from="faroeislands away" to="graphics/pictures/team/767/kits/away"/>

		<record from="finland home" to="graphics/pictures/team/768/kits/home"/>
		<record from="finland away" to="graphics/pictures/team/768/kits/away"/>

		<record from="france home" to="graphics/pictures/team/769/kits/home"/>
		<record from="france away" to="graphics/pictures/team/769/kits/away"/>

		<record from="georgia home" to="graphics/pictures/team/770/kits/home"/>
		<record from="georgia away" to="graphics/pictures/team/770/kits/away"/>
		<record from="georgia third" to="graphics/pictures/team/770/kits/third"/>

		<record from="germany home" to="graphics/pictures/team/771/kits/home"/>
		<record from="germany away" to="graphics/pictures/team/771/kits/away"/>

		<record from="greece home" to="graphics/pictures/team/772/kits/home"/>
		<record from="greece away" to="graphics/pictures/team/772/kits/away"/>

		<record from="hungary home" to="graphics/pictures/team/773/kits/home"/>
		<record from="hungary away" to="graphics/pictures/team/773/kits/away"/>

		<record from="iceland home" to="graphics/pictures/team/774/kits/home"/>
		<record from="iceland away" to="graphics/pictures/team/774/kits/away"/>

		<record from="holland home" to="graphics/pictures/team/784/kits/home"/>
		<record from="holland away" to="graphics/pictures/team/784/kits/away"/>

		<record from="israel home" to="graphics/pictures/team/775/kits/home"/>
		<record from="israel away" to="graphics/pictures/team/775/kits/away"/>

		<record from="italy home" to="graphics/pictures/team/776/kits/home"/>
		<record from="italy away" to="graphics/pictures/team/776/kits/away"/>

		<record from="kazakhstan home" to="graphics/pictures/team/119/kits/home"/>
		<record from="kazakhstan away" to="graphics/pictures/team/119/kits/away"/>
		<record from="kazakhstan third" to="graphics/pictures/team/119/kits/third"/>

		<record from="latvia home" to="graphics/pictures/team/777/kits/home"/>
		<record from="latvia away" to="graphics/pictures/team/777/kits/away"/>

		<record from="liechtenstein home" to="graphics/pictures/team/778/kits/home"/>
		<record from="liechtenstein away" to="graphics/pictures/team/778/kits/away"/>

		<record from="lithuania home" to="graphics/pictures/team/779/kits/home"/>
		<record from="lithuania away" to="graphics/pictures/team/779/kits/away"/>

		<record from="luxembourg home" to="graphics/pictures/team/780/kits/home"/>
		<record from="luxembourg away" to="graphics/pictures/team/780/kits/away"/>

		<record from="macedonia home" to="graphics/pictures/team/781/kits/home"/>
		<record from="macedonia away" to="graphics/pictures/team/781/kits/away"/>

		<record from="malta home" to="graphics/pictures/team/782/kits/home"/>
		<record from="malta away" to="graphics/pictures/team/782/kits/away"/>

		<record from="moldova home" to="graphics/pictures/team/783/kits/home"/>
		<record from="moldova away" to="graphics/pictures/team/783/kits/away"/>

		<record from="montenegro home" to="graphics/pictures/team/62002127/kits/home"/>
		<record from="montenegro away" to="graphics/pictures/team/62002127/kits/away"/>

		<record from="nireland home" to="graphics/pictures/team/785/kits/home"/>
		<record from="nireland away" to="graphics/pictures/team/785/kits/away"/>
		<record from="nireland third" to="graphics/pictures/team/785/kits/third"/>

		<record from="norway home" to="graphics/pictures/team/786/kits/home"/>
		<record from="norway away" to="graphics/pictures/team/786/kits/away"/>

		<record from="poland home" to="graphics/pictures/team/787/kits/home"/>
		<record from="poland away" to="graphics/pictures/team/787/kits/away"/>
		
		<record from="portugal home" to="graphics/pictures/team/788/kits/home"/>
		<record from="portugal away" to="graphics/pictures/team/788/kits/away"/>

		<record from="rireland home" to="graphics/pictures/team/789/kits/home"/>
		<record from="rireland away" to="graphics/pictures/team/789/kits/away"/>
		<record from="rireland third" to="graphics/pictures/team/789/kits/third"/>

		<record from="romania home" to="graphics/pictures/team/790/kits/home"/>
		<record from="romania away" to="graphics/pictures/team/790/kits/away"/>
	
		<record from="russia home" to="graphics/pictures/team/791/kits/home"/>
		<record from="russia away" to="graphics/pictures/team/791/kits/away"/>

		<record from="sanmarino home" to="graphics/pictures/team/792/kits/home"/>
		<record from="sanmarino away" to="graphics/pictures/team/792/kits/away"/>

		<record from="scotland home" to="graphics/pictures/team/793/kits/home"/>
		<record from="scotland away" to="graphics/pictures/team/793/kits/away"/>

		<record from="serbia home" to="graphics/pictures/team/802/kits/home"/>
		<record from="serbia away" to="graphics/pictures/team/802/kits/away"/>

		<record from="slovakia home" to="graphics/pictures/team/794/kits/home"/>
		<record from="slovakia away" to="graphics/pictures/team/794/kits/away"/>

		<record from="slovenia home" to="graphics/pictures/team/795/kits/home"/>
		<record from="slovenia away" to="graphics/pictures/team/795/kits/away"/>

		<record from="spain home" to="graphics/pictures/team/796/kits/home"/>
		<record from="spain away" to="graphics/pictures/team/796/kits/away"/>
		<record from="spain third" to="graphics/pictures/team/796/kits/third"/>

		<record from="sweden home" to="graphics/pictures/team/797/kits/home"/>
		<record from="sweden away" to="graphics/pictures/team/797/kits/away"/>

		<record from="switzerland home" to="graphics/pictures/team/798/kits/home"/>
		<record from="switzerland away" to="graphics/pictures/team/798/kits/away"/>

		<record from="turkey home" to="graphics/pictures/team/799/kits/home"/>
		<record from="turkey away" to="graphics/pictures/team/799/kits/away"/>

		<record from="ukraine home" to="graphics/pictures/team/800/kits/home"/>
		<record from="ukraine away" to="graphics/pictures/team/800/kits/away"/>

		<record from="wales home" to="graphics/pictures/team/801/kits/home"/>
		<record from="wales away" to="graphics/pictures/team/801/kits/away"/>
				
	</list>
	
</record>