// Place all the styles related to the UserTeams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pitch {
	background-image: url('pitch/pitch.png');

	height: 575px;
	width: 400px;	
}

#goalie {
	width: 400px;
	height: 143px;
	text-align: center;

}

#defense {
	width: 400px;
	height: 143px;
	text-align: center;

}

#midfield {
	width: 400px;
	height: 143px;
	text-align: center;

}

#forwards {
	width: 400px;
	height: 143px;
	text-align: center;

}

.player {
	width: 90px;
	height: 70px;
	margin-top: 30px;
	
	display: inline-block;

	text-align: center;


}

#players_table  td {
	cursor: move;
}

.player .kit {
	background-image: url('kits/empty.png');

	width: 50px;
	height: 50px;
	margin: 0px auto;

}

.player .player_name {
	width: 90px;
	text-align: center;
	display: block;
	white-space: pre-line;
	//word-wrap: break-word;


}

#name_input {
	height: 50px;
	width: 400px;
	font-size: 30px;
	color: #aaa;
}

#filter_settings {
	float: left;
}

#position_select {
	float:left ;
}

#position_select ul {
	list-style: none;
}

/*.player .plus {
	display: none;
	margin-left: 25%;
	margin-top: 25%;
}*/

#save_button {
	width: 375px;
}