// Place all the styles related to the UserTeams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pitch_height: 575px;

#header_row {
	width: 400px;
	margin: auto;
}
#header_row h1{
	float: left;
}
#header_row  h2{
	float: right;
	color: #888;
}
/* PITCH STUFF */

#pitch {
	background-image: url('pitch/pitch.png');

	height: 575px;
	width: 400px;	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor:default;
	margin: auto;

}
#pitch_alert {
	width: 350px;
	margin: 10px auto;
}

#goalie {
	width: 400px;
	height: 143px;
	text-align: center;

}

#defense {
	width: 400px;
	height: 143px;
	text-align: center;

}

#midfield {
	width: 400px;
	height: 143px;
	text-align: center;

}

#forwards {
	width: 400px;
	height: 143px;
	text-align: center;

}

.player {
	width: 90px;
	height: 70px;
	margin-top: 30px;

	display: inline-block;

	text-align: center;


}

.controls {
	float: left;
}


.player .kit {
	background-image: url('kits/empty.png');

	width: 50px;
	height: 50px;
	margin: 0px auto;

}

.player .player_name {
	width: 90px;
	text-align: center;
	display: block;
	white-space: pre-line;
	//word-wrap: break-word;
	height: 2.5em; 


}

/*.player .plus {
	display: none;
	margin-left: 25%;
	margin-top: 25%;
}*/

.marked {

  opacity:0.4;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor:default;
}
.marked td .btn{
	opacity:1.0;
	background: red;
}
#save_button_div {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
#save_button {
	width: 400px;
	height: 80px;
	font-size: 20pt;
	margin: 7px auto;
}

/* CONTROLS STUFF */

#players_table  {
	cursor: pointer;
}

#players_table th, a {
	cursor: default;
}
#name_input {
	height: 50px;
	width: 400px;
	font-size: 30px;
	color: #aaa;
}

#search_teamselect {
	margin: 0px auto;
	width: 480px;
	text-align: center;
}

#search_teamselect input, select{
	width: 180px;
	margin: 10px;
}

#position_select {
	margin: 0px auto;
	width: 480px;
	padding: 20px 0px;
	text-align: center;
}
#position_select ul {
	margin-left: 0px;
}
#position_select ul li {
	display: inline;
	padding: 15px;
}

#low_boundary_label {
	margin: 20px;
}
#high_boundary_label {
	margin: 20px;
	float: right;
	width: 70px;
	text-align: right;
}
#slider {
	clear: both;
	width: 480px;
	margin: 0px auto;
}

#infoModal {
	width : 700px;
	display:none;
}


#subs .btn-sub{
}
